<!-- Footer -->

  <footer id="footer">
    <!-- <a href="https://www.facebook.com/chidoanchihoi21ctt2hcmus" target="_blank">
      <i class="fa-brands fa-facebook fa-2xl icon-footer"></i>
    </a>
    <a href="mailto:bch.chidoan21ctt2.khtn@gmail.com?subject=[GÓP%20Ý%20THƯ%20VIỆN]">
      <i class="fa-solid fa-envelope fa-2xl icon-footer"></i>
    </a> -->
    <!-- <ul class="social-icon">
      <li class="social-item">
        <a class = "icon-footer" href="https://www.facebook.com/chidoanchihoi21ctt2hcmus" target="_blank">
          <i class="fa-brands fa-facebook fa-2xl icon"></i>
        </a>
      </li>
      <li class="social-item">
        <a class = "icon-footer" href="mailto:bch.chidoan21ctt2.khtn@gmail.com?subject=[GÓP%20Ý%20THƯ%20VIỆN]" target="_blank">
          <i class="fa-solid fa-envelope fa-2xl icon"></i>
        </a>
      </li>
    </ul>
    <p class="copyright">Chi đoàn 21CTT2</p>
    <p class="copyright">Đoàn Khoa Công Nghệ Thông Tin</p>
    <p class="copyright">Trường Đại Học Khoa Học Tự Nhiên, ĐHQG-HCM</p> -->
      <ul class="social-icon">
        <li class="social-icon__item"><a class="social-icon__link" href="https://www.facebook.com/chidoanchihoi21ctt2hcmus" target="_blank">
            <ion-icon name="logo-facebook"></ion-icon>
          </a></li>
      </ul>
      <ul class="menu">
        <li class="menu__item"><a class="menu__link" href="/">Trang chủ</a></li>
        <li class="menu__item"><a class="menu__link" href="#title">Giới thiệu</a></li>
        <li class="menu__item"><a class="menu__link" href="#category">Danh mục</a></li>
        <li class="menu__item"><a class="menu__link" href="mailto:bch.chidoan21ctt2.khtn@gmail.com?subject=[GÓP%20Ý%20THƯ%20VIỆN]">Liên hệ</a></li>
      </ul>
      <p>&copy; Chi đoàn 21CTT2</p>
      <p>&copy; Đoàn Khoa Công Nghệ Thông Tin</p>
      <p>&copy; Trường Đại Học Khoa Học Tự Nhiên, ĐHQG-HCM</p>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>